<mat-toolbar color="primary">Virtual Necklace</mat-toolbar>
<div class="pane">
  <div *ngIf="!record">
    <button mat-raised-button color="primary" class="try" (click)="enableDemo()">Try it out!</button>
  </div>
  <div class="progressBar" *ngIf="loading"><mat-progress-bar [color]="primary" mode="indeterminate"></mat-progress-bar></div>
  <div class="videoDiv" *ngIf="record">
    <video #video id="video" width={{this.width}} height={{this.height}} autoplay></video>
  </div>
  <div *ngIf="downloadPic">
    <canvas #canvas id="canvas" width={{this.width}} height={{this.height}}></canvas>
  </div>
  <div class="button-pane">
    <div *ngIf="downloadPic">
      <button mat-raised-button color="primary" (click)="download()">Download</button>
    </div>
    <div *ngIf="record">
      <button mat-raised-button color="primary" (click)="capture()">Snap Photo</button>
      <button mat-raised-button color="warn" (click)="disableDemo()">Cancel</button>
    </div>
  </div>
  <user-details></user-details>
</div>
