<mat-toolbar id="toolbar">Nafaria</mat-toolbar>
<div class="call">
  <img src="assets/woman.jpg">
  <div id="call-content">
    <h1>Wear Necklaces at home</h1>
    <h2>Try before you buy</h2>
  </div>
</div>
<mat-grid-list class="info" cols="3" rowHeight="15vw">
  <mat-grid-tile>
    <div>
      <a href="#necklace-options"><h1>Choose</h1></a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <a href="#necklace-options"><h1>Wear</h1></a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <a href="#necklace-options"><h1>Buy</h1></a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="pane">
  <mat-accordion>
    <mat-vertical-stepper (selectionChange)="stepperChange($event)" linear=true  #stepper >
      <mat-step label="Select Necklace">
        <mat-radio-group id="necklace-options" (change)="selectionChange($event)">
          <div class="necklace-pic">
            <img src="assets/necklace-collection/1.jpg">
            <mat-radio-button value="1" [checked]=true></mat-radio-button>
          </div>
          <div class="necklace-pic">
            <img src="assets/necklace-collection/2.jpg">
            <mat-radio-button value="2"></mat-radio-button>
          </div>
          <div class="necklace-pic">
            <img src="assets/necklace-collection/3.jpg">
            <mat-radio-button value="3"></mat-radio-button>
          </div>
        </mat-radio-group>
      </mat-step>
      <mat-step label="Snap photo">
        <div *ngIf="record">
          <div id="instructions">
            <p>* We <b style="color:red;">DO NOT</b>  store the video stream from your camera. It is solely used for clicking a picture.</p>
            <p>* We <b style="color:red;">DO NOT</b> store the captured picture.</p>
            <h3>* For <b style="color:blue;">BEST</b> results, look straight at the camera with your <b style="color:blue;">NECK VISIBLE</b> and <b style="color:blue;">WELL LIT</b> sorroundings. And make sure to smile. :)</h3>
          </div>
          <video #video id="video" width="videoWidth.toString()" height="videoHeight.toString()" autoplay muted playsinline [style.margin-left.px]="innerWidth"></video>
          <button id="capture-btn" mat-raised-button (click)="capture()" matStepperNext>Capture</button>
        </div>
      </mat-step>
      <mat-step label="Results!">
        <div class="progressBar" *ngIf="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
        <div id="results"  *ngIf="downloadPic">
          <div id="result-canvas">
            <canvas #canvas width="480" height="640"></canvas>
            <button mat-raised-button (click)="download()">Download</button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-accordion>
  <div id="final-msg">
    <div id="user-text">
      <h2>Interested in learning more?</h2>
      <h2>Leave your email and any comments or feedback.</h2>
      <h2>Stay tuned!</h2>
    </div>
    <user-details (formSubmit)="onSignUp($event)"></user-details>
  </div>
</div>
<mat-toolbar id="privacy-policy">
  <a href="https://app.termly.io/document/privacy-policy/67f50e31-f977-48f9-bc9c-cb93c19eb75f" target="_blank">Privacy Policy</a>
  <p>Copyright &copy; 2019, Nafaria</p>
</mat-toolbar>
