#toolbar{
  background: #CE4A7EFF;
  color: #1C1C1BFF;
  font-family: cursive;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #1C1C1BFF;
  height: 70vh;
}

#call-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: #CE4A7EFF;
  font-size: 42px;
}

h2 {
  color: #ffffff;
  margin-top: 0;
  font-family:cursive;
}

mat-grid-tile{
  margin-top: 2vh;
  border-right: 1px solid #cccccc;
}

mat-grid-tile h1 {
  font-family:cursive;
}

mat-grid-tile div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pane {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
}

#capture-btn {
  width: 100%;
}

#video {
  background-color: #000000;
}

button {
  background-color: #d97289;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#result-canvas {
  align-self: center;
  display: flex;
  flex-direction: column;
}

user-details{
  align-self: center;
  width: 40vw;
  margin-top: 10vh;
}

a {
  text-decoration: none;
  font-size: 0.7em;
  color: #000000;
}

#privacy-policy {
  margin-top: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
