#toolbar{
  background: #CE4A7EFF;
  color: #1C1C1BFF;
  font-family: cursive;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #1C1C1BFF;
  height: 40vw;
}

.call img {
  max-height: 40%;
  width: auto;
  height: auto;
}

#call-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: #CE4A7EFF;
  font-size: 4vw;
}

#call-content h2 {
  color: #ffffff;
  margin-top: 0;
  font-family: cursive;
  font-size: 2.8vw;
}

mat-grid-tile{
  margin-top: 2vh;
  border-right: 1px solid #cccccc;
}

mat-grid-tile h1 {
  font-family:cursive;
  font-size: 2.7vw;
}

mat-grid-tile div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pane {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
}

#selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#necklace-options {
  display: flex;
  flex-direction: row;
}

.necklace-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.necklace-pic img {
  max-width: 90%;
  width: auto;
  height: auto;
}

mat-radio-button {
  margin-top: 2vh;
}

#capture-btn {
  width: 100%;
}

#video {
  background-color: #000000;
}

button {
  background-color: #d97289;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#result-canvas {
  align-self: center;
  display: flex;
  flex-direction: column;
}

mat-accordion {
  margin-bottom: 10vh;
}

#final-msg {
  display: flex;
  flex-direction: row;
}

.pane h2 {
  color: #CE4A7EFF;
  font-size: 1.7vw;
}

user-details{
  margin-left: 5vw;
  flex: 1 1 auto;
}

#privacy-policy {
  margin-top: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#privacy-policy a {
  text-decoration: none;
  font-size: 1vw;
  color: #000000;
}

 #privacy-policy p {
  text-decoration: none;
  font-size: 1vw;
  color: #000000;
}
