/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body{margin:0}

.mat-step-header .mat-step-icon {
  background-color: #1C1C1BFF;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #CE4A7EFF;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color: #CE4A7EFF;
  background-color: #CE4A7EFF;
}
